<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список контактов</title>
</head>
<body>
<h2>Контакты</h2>
<div>
    <a href="/add">Добавить контакт</a>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Email</th>
            <th>Телефон</th>
            <th>Действия</th>
        </tr>
        <tr th:each="contact : ${contacts}">
            <td th:text="${contact.id}"></td>
            <td th:text="${contact.firstName}"></td>
            <td th:text="${contact.lastName}"></td>
            <td th:text="${contact.email}"></td>
            <td th:text="${contact.phone}"></td>
            <td>
                <a th:href="@{/edit/{id}(id=${contact.id})}">Редактировать</a>
                <a th:href="@{/delete/{id}(id=${contact.id})}" onclick="return confirm('Вы уверены, что хотите удалить этот контакт?');">Удалить</a>
            </td>
        </tr>
    </table>    
</div>
</body>
</html>
